{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div>
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Your Profile</a>
</div>




 

<div class="d-flex flex-wrap justify-content-center px-5">
     
     


     
     {% for post in data %}
     
    <div class="col-sm-3 mb-3 mb-sm-0 ">
      <div class="card mx-2">
        <div class="card-body">
            <img src="{{post.car.image.url}}" class="card-img-top" alt="">
            <h5 class="card-title"><a href="" class="text-decoration-none text-dark">{{post.car.model_name}}</a></h5>
            <p class="card-text"> price : {{post.car.price}}</p>
            <p>Brand :  {{post.brand.name}} </p>
            
            
             
          </div>
        </div>
      </div>
    {% endfor %}  
     
  </div>
 
{% endblock %}